@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-bold-webfont.eot');
  src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-bold-webfont.woff') format('woff'), url('../font/opensans-bold-webfont.ttf') format('truetype'), url('../font/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-italic-webfont.eot');
  src: url('../font/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-italic-webfont.woff') format('woff'), url('../font/opensans-italic-webfont.ttf') format('truetype'), url('../font/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-light-webfont.eot');
  src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-light-webfont.woff') format('woff'), url('../font/opensans-light-webfont.ttf') format('truetype'), url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-regular-webfont.eot');
  src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-regular-webfont.woff') format('woff'), url('../font/opensans-regular-webfont.ttf') format('truetype'), url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-extrabolditalic-webfont.eot');
  src: url('../font/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-extrabolditalic-webfont.woff') format('woff'), url('../font/opensans-extrabolditalic-webfont.ttf') format('truetype'), url('../font/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-lightitalic-webfont.eot');
  src: url('../font/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-lightitalic-webfont.woff') format('woff'), url('../font/opensans-lightitalic-webfont.ttf') format('truetype'), url('../font/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-semibold-webfont.eot');
  src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-semibold-webfont.woff') format('woff'), url('../font/opensans-semibold-webfont.ttf') format('truetype'), url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-semibolditalic-webfont.eot');
  src: url('../font/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-semibolditalic-webfont.woff') format('woff'), url('../font/opensans-semibolditalic-webfont.ttf') format('truetype'), url('../font/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-bolditalic-webfont.eot');
  src: url('../font/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-bolditalic-webfont.woff') format('woff'), url('../font/opensans-bolditalic-webfont.ttf') format('truetype'), url('../font/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url('../font/opensans-extrabold-webfont.eot');
  src: url('../font/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-extrabold-webfont.woff') format('woff'), url('../font/opensans-extrabold-webfont.ttf') format('truetype'), url('../font/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 800;
  font-style: normal; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  min-width: 980px; }

.container {
  margin: 0 auto;
  width: 980px; }

.row {
  width: 100%;
  position: relative;
  font-size: 0;
  margin: 25px 0;
  display: table; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3%; }

.col-5 {
  width: 41.6%; }

.col-6 {
  width: 50%; }

.col-8 {
  width: 66.6%; }

[class^="col-"] {
  padding: 0 15px;
  display: inline-block;
  box-sizing: border-box; }
  [class^="col-"]:first-of-type {
    padding-left: 0; }
  [class^="col-"]:last-of-type {
    padding-right: 0; }

body {
  margin: 0;
  padding: 0;
  min-width: 980px; }

.page-wrapper {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif; }

a {
  color: #a7cc4f; }

div:focus, div:active, button:focus, button:active {
  outline: none; }

.sprite {
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
  display: block; }

.sprite-icon-fb {
  width: 31px;
  height: 30px;
  background-position: -5px -5px; }

.sprite-icon-gplus {
  width: 31px;
  height: 30px;
  background-position: -46px -5px; }

.sprite-icon-odno {
  width: 31px;
  height: 30px;
  background-position: -5px -45px; }

.sprite-icon-twitter {
  width: 32px;
  height: 30px;
  background-position: -46px -45px; }

.sprite-icon-vk {
  width: 31px;
  height: 30px;
  background-position: -87px -5px; }

.header {
  background-color: #c6e1f4;
  position: relative; }
  .header-inner {
    position: relative;
    max-height: 150px; }
    .header-inner .header-cloud-big, .header-inner .header-cloud-small {
      position: absolute;
      left: 0;
      z-index: 1; }
    .header-inner .header-cloud-big {
      top: 0;
      left: -100px;
      z-index: 120; }
    .header-inner .header-cloud-small {
      bottom: -44px;
      left: 433px; }
  .header .logo-wrapper {
    display: inline-block;
    padding-left: 12px;
    padding-top: 38px;
    padding-bottom: 54px;
    position: relative;
    z-index: 150;
    max-height: 325px; }
    .header .logo-wrapper .logo {
      text-decoration: none; }
      .header .logo-wrapper .logo .sup-h1 {
        color: #000;
        font-size: 16px;
        margin: 0;
        padding: 0;
        margin-bottom: 4px;
        display: block;
        font-weight: 300; }
      .header .logo-wrapper .logo .h1 {
        font-weight: bold;
        font-size: 38px;
        color: #000;
        margin: 0;
        margin-top: 4px;
        display: block;
        padding: 0;
        line-height: 32px;
        letter-spacing: -1.5pt; }
  .header .contact-phone {
    display: inline-block;
    margin: 0;
    padding-left: 85px;
    text-align: right;
    font-weight: 300;
    max-width: 260px; }
    .header .contact-phone .sup-phone {
      font-size: 15px;
      color: #000;
      margin: 0;
      margin-bottom: 7px; }
    .header .contact-phone .phone {
      margin: 0;
      font-size: 20px;
      margin-top: 7px; }
      .header .contact-phone .phone > span {
        font-weight: bold; }
  .header .schedule-wrapper {
    display: inline-block;
    padding-left: 28px;
    font-size: 13px;
    color: #000;
    font-weight: 300;
    max-width: 197px; }
    .header .schedule-wrapper > p {
      margin: 1px 0; }
  .header .write-link {
    display: inline-block;
    vertical-align: top;
    padding-left: 65px;
    margin-top: 65px;
    box-sizing: border-box;
    max-width: 200px; }
    .header .write-link > a {
      font-size: 15px;
      color: #000;
      font-weight: bold;
      border-bottom: 1px dashed #000;
      text-decoration: none; }

.main-slider {
  width: 100%;
  position: relative; }
  .main-slider .main-slider-inner {
    max-width: 1600px;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 2;
    background-color: #c6e1f4; }
  .main-slider .bx-wrapper {
    margin-bottom: 0;
    max-height: 400px;
    overflow: hidden;
    z-index: 15; }
    .main-slider .bx-wrapper .bx-viewport {
      border: none; }
  .main-slider .bxSlider {
    margin: 0; }
    .main-slider .bxSlider > li {
      border-top: 1px solid #fff;
      max-height: 400px; }
      .main-slider .bxSlider > li > img {
        max-width: 100%;
        height: 100%;
        max-height: 400px;
        margin-left: auto;
        margin-right: 0; }

.pagination {
  height: 100%;
  width: 980px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 0; }
  .pagination:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 95%;
    width: 4000px;
    height: 100%;
    background-color: #c6e1f4;
    z-index: 100; }

#bx-pager {
  position: absolute;
  bottom: 0;
  left: 334px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  margin-bottom: 40px; }
  #bx-pager > a {
    display: inline-block;
    margin-right: 10px; }
    #bx-pager > a > .bx-pagination {
      display: block;
      font-size: 0;
      width: 16px;
      height: 16px;
      background-color: #eaeaea;
      box-sizing: border-box;
      border: 1px solid #bdbdbd;
      border-radius: 50%;
      position: relative;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15); }
      #bx-pager > a > .bx-pagination:hover {
        cursor: pointer; }
    #bx-pager > a.active > .bx-pagination:hover {
      cursor: default; }
    #bx-pager > a.active > .bx-pagination:after {
      content: '';
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      border: 2px solid #000;
      background-color: #a7cc4f;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.slider-prev > a {
  font-size: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 30px;
  left: 267px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  background-image: url('../img/icon-prev.png');
  background-size: cover; }
  .slider-prev > a:hover {
    cursor: pointer; }

.slider-next > a {
  font-size: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 30px;
  right: 33px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  background-image: url('../img/icon-next.png');
  background-size: cover; }
  .slider-next > a:hover {
    cursor: pointer; }

.cloud-left {
  position: absolute;
  z-index: 1000;
  top: -25px;
  left: -78px; }

[class^="waymark-caption"] {
  position: absolute;
  z-index: 1001; }
  [class^="waymark-caption"] .waymark-place {
    vertical-align: middle;
    display: inline-block;
    font-size: 10px;
    color: #000;
    font-weight: bold; }
  [class^="waymark-caption"] .waymark-distance {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #000; }

.waymark-caption-1 {
  top: 28px;
  left: 88px;
  -webkit-transform: rotate(-22deg) skewX(-21deg);
      -ms-transform: rotate(-22deg) skewX(-21deg);
          transform: rotate(-22deg) skewX(-21deg);
  line-height: 10px; }
  .waymark-caption-1 > .waymark-place {
    margin-right: 7px; }

.waymark-caption-2 {
  top: 83px;
  left: 30px;
  line-height: 10px;
  -webkit-transform: rotate(8deg) skewX(8deg);
      -ms-transform: rotate(8deg) skewX(8deg);
          transform: rotate(8deg) skewX(8deg); }
  .waymark-caption-2 > .waymark-place {
    text-align: right; }
  .waymark-caption-2 > .waymark-distance {
    margin-right: 4px; }

.waymark-caption-3 {
  top: 146px;
  left: 95px;
  line-height: 10px;
  -webkit-transform: rotate(6deg) skewX(4deg);
      -ms-transform: rotate(6deg) skewX(4deg);
          transform: rotate(6deg) skewX(4deg); }
  .waymark-caption-3 > .waymark-place {
    margin-right: 4px; }

.waymark-caption-4 {
  top: 193px;
  left: 32px;
  line-height: 13px;
  -webkit-transform: rotate(-5deg) skewX(-7deg);
      -ms-transform: rotate(-5deg) skewX(-7deg);
          transform: rotate(-5deg) skewX(-7deg); }
  .waymark-caption-4 > .waymark-place {
    font-size: 14px; }
  .waymark-caption-4 > .waymark-distance {
    font-size: 10px;
    margin-right: 10px; }

.waymark-caption-5 {
  top: 242px;
  left: 97px;
  line-height: 16px;
  -webkit-transform: rotate(6deg) skewX(7deg);
      -ms-transform: rotate(6deg) skewX(7deg);
          transform: rotate(6deg) skewX(7deg); }
  .waymark-caption-5 > .waymark-place {
    font-size: 16px;
    margin-right: 5px; }
  .waymark-caption-5 > .waymark-distance {
    font-size: 12px; }

.promo {
  background-color: #fff;
  position: relative;
  z-index: 20;
  font-size: 0;
  padding-bottom: 50px; }

.main-nav {
  display: block;
  box-sizing: border-box;
  margin-left: 252px;
  margin-right: 25px;
  border-bottom: 1px dashed #000; }

.top-menu {
  margin: 25px 0;
  padding: 0;
  list-style: none;
  text-align: justify; }
  .top-menu-item {
    display: inline-block;
    padding: 0 34px;
    box-sizing: border-box;
    position: relative; }
    .top-menu-item:not(:first-child):before {
      position: absolute;
      display: block;
      content: '';
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: rgba(167, 204, 79, 0.4);
      margin: auto;
      top: 11px;
      left: 0; }
    .top-menu-item:first-child {
      padding-left: 0; }
    .top-menu-item:last-child {
      padding-right: 0; }
    .top-menu-item > a {
      font-size: 17px;
      color: #000;
      font-weight: 300;
      display: block;
      padding-bottom: 4px;
      border-bottom: 4px solid transparent;
      text-decoration: none; }
      .top-menu-item > a:hover {
        border-color: #a7cc4f; }

.side-menu-wrapper {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  margin-top: 50px;
  vertical-align: top; }

.side-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .side-menu-item {
    margin: 20px 0;
    padding: 0; }
    .side-menu-item:first-child {
      margin-top: 0; }
    .side-menu-item:last-child {
      margin-bottom: 0; }
    .side-menu-item > a {
      font-size: 15px;
      font-weight: 300;
      color: #000;
      text-decoration: underline; }
      .side-menu-item > a:hover {
        text-decoration: none; }

.about {
  margin-top: 30px;
  display: inline-block;
  width: 74%;
  box-sizing: border-box;
  padding-right: 25px; }
  .about-header {
    font-size: 35px;
    font-weight: 300;
    color: #000;
    margin: 0;
    margin-bottom: 15px; }
  .about-text {
    margin: 25px 0;
    font-weight: 300;
    font-size: 15px;
    color: #000; }
    .about-text:first-of-type {
      margin-top: 0; }
    .about-text:last-of-type {
      margin-bottom: 0; }

.news {
  background-color: #efefef;
  padding: 30px 0; }

.news-container {
  width: 1010px;
  margin: 0 auto; }

.news-header {
  text-align: center;
  display: block;
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  color: #000;
  font-weight: 300; }

.news-inner {
  width: 100%;
  font-size: 0;
  overflow: hidden; }
  .news-inner .news-item {
    vertical-align: top;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    width: 317px;
    margin-right: 29px; }
    .news-inner .news-item:nth-child(3) {
      margin-right: 0; }
    .news-inner .news-item .news-date {
      display: block;
      font-size: 13px;
      color: #000;
      font-weight: 300;
      margin: 4px 0; }
    .news-inner .news-item .img-wrapper {
      margin-top: 4px;
      margin-bottom: 15px;
      position: relative;
      width: 100%; }
    .news-inner .news-item .news-item-header {
      font-size: 15px;
      color: #a7cc4f;
      display: block;
      margin-top: 15px;
      margin-bottom: 10px;
      text-decoration: underline;
      font-weight: 300;
      white-space: nowrap; }
    .news-inner .news-item .news-text {
      font-size: 14px;
      color: #000;
      font-weight: normal;
      margin: 10px 0;
      line-height: 20px; }

.map-wrapper {
  position: relative;
  min-height: 800px;
  background-color: #efefef; }
  .map-wrapper .map {
    max-width: 100%;
    height: 100%;
    min-width: 1000px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0; }
  .map-wrapper .map-inner {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 40px 0; }
  .map-wrapper .map-info {
    max-width: 488px; }
    .map-wrapper .map-info-header {
      font-size: 60px;
      letter-spacing: -3pt;
      color: #505050;
      font-weight: bold;
      margin: 0;
      margin-bottom: 30px;
      line-height: 48px;
      display: block; }
    .map-wrapper .map-info-text {
      display: block;
      font-size: 15px;
      line-height: 20px;
      color: #fff;
      margin-top: 13px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 15px 20px;
      padding-bottom: 20px; }

.feedback-form {
  background-color: #a7cc4f;
  padding: 30px 0; }
  .feedback-form-header {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: 300;
    margin: 0;
    margin-bottom: 25px; }
  .feedback-form .feedback .sup-input {
    font-size: 18px;
    line-height: 20px;
    margin: 5px 0;
    color: #000;
    font-weight: 300; }
  .feedback-form .feedback input {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #aeaeae;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.65); }
    .feedback-form .feedback input.client-note {
      padding-top: 15px;
      padding-bottom: 15px; }
  .feedback-form .feedback-submit {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #aeaeae;
    box-shadow: inset 0 1px 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
    outline: none;
    cursor: pointer;
    background: #f9f9f9;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%, #e9e9e9 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
    /* IE6-9 */ }

.footer {
  background-color: #fff; }
  .footer .row > [class^="col-"] {
    vertical-align: top; }

.survey-question {
  font-size: 16px;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
  display: block; }

.survey-list {
  margin: 10px 0;
  list-style: none;
  padding-left: 0; }
  .survey-list__item {
    margin: 10px 0;
    position: relative; }
    .survey-list__item:first-child {
      margin-top: 0; }
    .survey-list__item:last-child {
      margin-bottom: 0; }
    .survey-list__item input[type="radio"] {
      position: absolute;
      left: 11px;
      display: none; }
      .survey-list__item input[type="radio"]:checked + .survey-list__item-inner:before {
        border: 1px solid rgba(189, 189, 189, 0.82);
        background-color: #eaeaea;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15); }
      .survey-list__item input[type="radio"]:checked + .survey-list__item-inner:after {
        display: block; }
    .survey-list__item-inner {
      width: 100%;
      padding-left: 55px;
      box-sizing: border-box;
      display: block; }
      .survey-list__item-inner:hover {
        cursor: pointer; }
      .survey-list__item-inner > span {
        font-size: 13px;
        font-weight: 300;
        color: #000; }
        .survey-list__item-inner > span:hover {
          cursor: pointer; }
      .survey-list__item-inner:before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 11px;
        margin: auto;
        display: block;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #d7d7d7;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.65); }
      .survey-list__item-inner:after {
        content: '';
        position: absolute;
        display: none;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 16px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #656565;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.survey-vote {
  margin-top: 10px;
  margin-left: 55px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #717171;
  text-align: center;
  padding: 6.5px 18px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #aeaeae;
  box-shadow: inset 0 1px 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
  /* IE6-9 */ }

.news-list {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  list-style: none; }
  .news-list__item {
    margin: 1px 0; }
    .news-list__item:first-child {
      margin-top: 0px; }
    .news-list__item:last-child {
      margin-bottom: 0; }
    .news-list__item > a {
      font-size: 14px;
      color: #000;
      font-weight: 300;
      padding: 4px 8px;
      border-radius: 3px;
      text-decoration: underline;
      display: inline-block; }
      .news-list__item > a:hover {
        background-color: #a7cc4f; }

.info-wrapper {
  width: 100%;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 30px; }

.socials {
  width: 100%;
  box-sizing: border-box;
  padding-left: 45px; }
  .socials-text {
    font-size: 15px;
    color: #000;
    line-height: 18px;
    display: inline-block;
    width: 80px;
    box-sizing: border-box; }
  .socials-list {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-left: 25px; }
    .socials-list__item {
      display: inline-block;
      margin-left: 4px; }

.contact-info {
  margin-top: 40px;
  vertical-align: bottom; }
  .contact-info .contact-phone {
    display: inline-block;
    margin: 0;
    text-align: right;
    font-weight: 300; }
    .contact-info .contact-phone .sup-phone {
      font-size: 15px;
      color: #000;
      margin: 0;
      margin-bottom: 7px; }
    .contact-info .contact-phone .phone {
      margin: 0;
      font-size: 20px;
      margin-top: 7px; }
      .contact-info .contact-phone .phone > span {
        font-weight: bold; }
  .contact-info .schedule-wrapper {
    text-align: left;
    display: inline-block;
    padding-left: 28px;
    font-size: 13px;
    color: #000;
    font-weight: 300; }
    .contact-info .schedule-wrapper > p {
      margin: 1px 0; }

.stat {
  text-align: right;
  margin-bottom: 40px;
  margin-top: 30px; }

.copyright {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  margin-bottom: 15px; }
  .copyright > span {
    display: block;
    text-align: right; }

.popup {
  display: none;
  font-size: 22px;
  width: 400px;
  color: #505050;
  background-color: #c6e1f4;
  border: 4px solid #a7cc4f;
  padding: 40px 0;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .popup-close {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    display: block;
    position: absolute;
    background-color: #a7cc4f;
    width: 24px;
    height: 24px;
    top: -12px;
    right: -12px; }
    .popup-close:hover {
      cursor: pointer; }
