body {
    min-width: 980px;
}

.container {
    margin: 0 auto;
    width: 980px;
}

.row {
    width: 100%;
    position: relative;
    font-size: 0;
    margin: 25px 0;
    display: table;
}

.col-3 { width: 25%; }
.col-4 { width: 33.3%; }
.col-5 { width: 41.6%; }
.col-6 { width: 50%; }
.col-8 { width: 66.6%; }

[class^="col-"] {
    padding: 0 15px;
    display: inline-block;
    box-sizing: border-box;

    &:first-of-type { padding-left: 0; }
    &:last-of-type { padding-right: 0; }
}