.header {
    background-color: $lightblue;
    position: relative;

    &-inner {
        position: relative;
        max-height: 150px;

        .header-cloud-big,
        .header-cloud-small {
            position: absolute;
            left: 0;
            z-index: 1;
        }

        .header-cloud-big {
            top: 0;
            left: -100px;
            z-index: 120;
        }

        .header-cloud-small {
            bottom: -44px;
            left: 433px;
        }
    }

    .logo-wrapper {
        display: inline-block;
        padding-left: 12px;
        padding-top: 38px;
        padding-bottom: 54px;
        position: relative;
        z-index: 150;
        max-height: 325px;

        .logo {
            text-decoration: none;

            .sup-h1 {
                color: #000;
                font-size: 16px;
                margin: 0;
                padding: 0;
                margin-bottom: 4px;
                display: block;
                font-weight: 300;
            }
            .h1 {
                font-weight: bold;
                font-size: 38px;
                color: #000;
                margin: 0;
                margin-top: 4px;
                display: block;
                padding: 0;
                line-height: 32px;
                letter-spacing: -1.5pt;
            }
        }
    }

    .contact-phone {
        display: inline-block;
        margin: 0;
        padding-left: 85px;
        text-align: right;
        font-weight: 300;
        max-width: 260px;

        .sup-phone {
            font-size: 15px;
            color: #000;
            margin: 0;
            margin-bottom: 7px;
        }

        .phone {
            margin: 0;
            font-size: 20px;
            margin-top: 7px;

            & > span {
                font-weight: bold;
            }
        }
    }

    .schedule-wrapper {
        display: inline-block;
        padding-left: 28px;
        font-size: 13px;
        color: #000;
        font-weight: 300;
        max-width: 197px;

        & > p {
            margin: 1px 0;
        }
    }

    .write-link {
        display: inline-block;
        vertical-align: top;
        padding-left: 65px;
        margin-top: 65px;
        box-sizing: border-box;
        max-width: 200px;
        
        & > a {
            font-size: 15px;
            color: #000;
            font-weight: bold;
            border-bottom: 1px dashed #000;
            text-decoration: none;
        }
    }

}