.map-wrapper {
    position: relative;
    min-height: 800px;
    background-color: $lightgrey;

    .map {
        max-width: 100%;
        height: 100%;
        min-width: 1000px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
    }

    .map-inner {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 40px 0;
    }

    .map-info {
        max-width: 488px;

        &-header {
            font-size: 60px;
            letter-spacing: -3pt;
            color: $darkgrey;
            font-weight: bold;
            margin: 0;
            margin-bottom: 30px;
            line-height: 48px;
            display: block;
        }

        &-text {
            display: block;
            font-size: 15px;
            line-height: 20px;
            color: $white;
            margin-top: 13px;
            background-color: rgba(0,0,0, .7);
            padding: 15px 20px;
            padding-bottom: 20px;
        }
    }
}